@import url('https://fonts.googleapis.com/css?family=Lora|Patua+One|Prociono');
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
header{
    float: left;
    height: 20%; 
    background-color: #f1f1f1;  
}
aside{
    color: white;
    background-color: black;
    left: 0px;
    top: 0px;
    float: right;
    height: 100%;
}
img{
    width: 80%;
    height: 150px;
    border-radius: 50%;
}
.opened{
    width: 15%;
}
.closed{
    width: 0%;
}
.asideOpened{
    width: 85%;
}
.asideClosed{
    width: 100%;
}

main{
    height: 100%;
}
#iconsHeaderDiv{
    width: 30%;
    float:right;
    height: 25%;
    margin-top: 0.1%;
}
#loginBtn{  
    width: 100%;
    height:100%;
    margin-left: 0px;
    font-size: 200%;
}


#loginBtnDiv{
    height: 100%;
    padding: 0px;
    float: right;
}
/* Search */

#searchDiv{
    height: 100%;
    float: right;
}
#formSearch{
    width: 100%;
    height: 100%;
    margin-right: 0px;
}
.searchbox{
    position:relative;
    min-width:10%;
    width:0%;
    height:100%;
    float:right;
    overflow:hidden;
    border: solid 1px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:100%;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:1vw;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:20%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:150%;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:#172b3c;
    border-radius: 0.2em;
}

.searchbox-open{
    width:100%;
}

/*Main navbar*/

#mainNavBarDiv{
    width: 100%;
    height: 35%;

    position: relative;
    top:65%;    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100%;
    width: 100%;
}

li {
    float: left;
    height: 101.5%;
    width: 6%;
   
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    height: 100%;
    width: 100%;
    font-size: 0.9vw;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
    text-decoration: none;
    color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #5bc0de}

.dropdown:hover .dropdown-content {
    display: block;
}
#homeIcon{
   font-size:2vw;
   padding-top: 10%;
   background-color: #5bc0de;
}
#homeIcon:hover{
    background-color: #5bc0de;
    color: black;
}

/*Background Header*/

